<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}College Garth Rescue Kennels{% endblock %}</title>
        <meta name="description" content="College Garth Rescue Kennels is a stray dog rescue kennel in Hathern Leicestershire. We work with the local councils to reunite and rehome stray dogs and think the best way to choose a new dog is by rehoming one.">
        <meta name="keywords" content="college garth rescue kennels, hathern dog rescue, rescue dogs, dogs needing homes, rehoming dogs, dog rehoming, dogs rehoming, dog rescue, animal shelter">
        <meta name="google-site-verification" content="-C9qNqZm5Nw_HdY813B07jfpL1__F4SDqCoHCKp3bPs" />

        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body>
        <a href="#top" name="top" class="anchor"></a>
        <div class="title">
            <div class="container-fluid">
                <h1 class="logo"><a href="/">College Garth Rescue Kennels</a></h1>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a> -->
                    <!-- <div class="nav-collapse collapse"> -->
                        <ul class="nav" role="navigation">
                            <li><a href="#the-dogs" class="scrollTo">See the dogs</a>
                            <li><a href="http://www.facebook.com/CollegeGarthRescueKennels" rel="external">Our Facebook page</a>
                            <li><a href="#whats-going-on" class="scrollTo">What's going on</a>
                            <li><a href="#volunteer" data-toggle="modal">Volunteer</a>
                        </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="header" role="banner">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span7 offset3 pull-right">
                        <h2 class="subtitle"><strong><span class="rehoming">Rehoming</span> <span class="dawgs">dogs</span></strong> <span class="since">Since</span> <span class="ages">1980</span></h2>
                        <div class="about">
                            <i class="bone-icon"></i>
                            <p>College Garth Rescue Kennels is a stray dog rescue kennel in Hathern Leicestershire. We work with the local councils to reunite and rehome stray dogs and think the best way to choose a new dog is by rehoming one.</p>

                            <p>Help us find new homes for the stray dogs at College Garth Rescue Kennels and visit us today!</p>

                            <div class="fb-like" data-href="http://www.collegegarthrescuekennels.co.uk/" data-send="false" data-width="386" data-show-faces="false" data-font="arial"></div>
                        </div>
                    </div>
                    <div class="span6 pull-left">
                        <div class="find-us">
                            <h2 class="find-us-title"><strong>Find</strong> us</h2>
                            <a href="http://maps.google.com/?q=College+Garth+Kennels,+Hathern,+Loughborough+LE12+5LD" rel="external"><img src="/static/img/map.png" class="find-us-map"></a>
                            <p class="contact-address">
                                <span>College Garth Rescue Kennels, </span>
                                <span>Derby Road, Hathern, </span>
                                <span>Loughborough, </span>
                                <span>Leicestershire, LE12 5LD</span>
                            </p>
                            <p class="contact-tel">
                                <i class="tel-icon"></i>
                                <span><strong>01509 842327</strong> or </span>
                                <span><strong>07542 164912</strong> </span>
                            </p>
                            <p class="contact-hours">
                                <i class="hours-icon"></i>
                                <span>We are open </span>
                                <span><strong>8am - 6pm Mon - Fri</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="going-on" role="complementary">
            <a href="#whats-going-on" name="whats-going-on" class="anchor"></a>
            <div class="container-fluid">
                <h2 class="going-on-title"><i class="paw-icon"></i><span class="what">What's</span> <span class="going">going</span> <span class="on">on<span class="ellipsis">...</span></span></h2>
                <div class="row-fluid">
                    <div class="span5">
                        <div class="going-on-social">
                            <p><strong><a href="http://www.facebook.com/CollegeGarthRescueKennels" rel="external">Share</a></strong> your rescue stories and meet other dog lovers on our Facebook page</p>
                        </div>
                        <div class="going-on-plugin facebook">
                            <div class="fb-like-box" data-href="http://www.facebook.com/CollegeGarthRescueKennels" data-width="270" data-height="430" data-show-faces="false" data-border-color="#e8e8e8" data-stream="true" data-header="false"></div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="going-on-social">
                            <p><strong><a href="http://twitter.com/CollegeGarth" rel="external">Follow us</a></strong> on Twitter for the latest dog news and College Garth updates</p>
                        </div>
                        <div class="going-on-plugin twitter">
                            <a class="twitter-timeline" data-dnt=true href="https://twitter.com/CollegeGarth" data-widget-id="271206358790062082"></a>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="going-on-social">
                            <p><strong>Stray in touch</strong> and sign up for our email newsletter!</p>
                        </div>
                        <div class="going-on-plugin">
                            <form class="going-on-form" role="form" action="/signup" method="post">
                                <fieldset>
                                    <legend>Newsletter subscription</legend>
                                    <label>Email address</label>
                                    <input type="text" name="email" placeholder="Enter your email address">
                                    <button type="submit" role="button" class="btn btn-primary">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid contact-info">
                <div class="row-fluid">
                    <div class="span4 offset3">
                        <h3 class="contact-title">Contact Us</h3>
                        <p class="contact-address">
                            <span>College Garth Rescue Kennels, </span>
                            <span>Derby Road, Hathern, </span>
                            <span>Loughborough, </span>
                            <span>Leicestershire, LE12 5LD</span>
                        </p>
                    </div>
                    <div class="span3 offset1">
                        <h3 class="invisible">Say hello</h3>
                        <p class="contact-tel">
                            <i class="tel-icon"></i>
                            <span><strong>01509 842327</strong> or </span>
                            <span><strong>07542 164912</strong> </span>
                        </p>
                        <p class="contact-hours">
                            <i class="hours-icon"></i>
                            <span>We are open </span>
                            <span><strong class="hours">8am - 6pm</strong> <strong class="days">Mon - Fri</strong></span>
                        </p>
                    </div>
                    <div class="span5">
                        <h3 class="social-title">Find us online</h3>
                        <ul class="social-links unstyled">
                            <li><a href="http://twitter.com/CollegeGarth" rel="external"><i class="twitter-icon"></i>Twitter</a></li>
                            <li><a href="http://www.facebook.com/CollegeGarthRescueKennels" rel="external"><i class="facebook-icon"></i>Facebook</a></li>
                            <li><a href="https://www.flickr.com/photos/collegegarthrescuekennels/" rel="external"><i class="flickr-icon"></i>Flickr</a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">&copy; Copyright College Garth Rescue Kennels 2012. All rights reserved.</p>
                <a href="#top" class="scrollTo top hidden-phone">Go to top</a>
            </div>
        </div>

        <div id="volunteer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="volunteer-title" aria-hidden="true">
            <button type="button" role="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-header">
                <h3 id="volunteer-title" class="modal-title">Interested in volunteering at the kennels?</h3>
            </div>
            <div class="modal-body">
                <p>Email us to find out how you can help. We are always looking for more dog walkers.</p>
                <p><a href="mailto:volunteer@collegegarthrescuekennels.co.uk">volunteer@collegegarthrescuekennels.co.uk</a></p>
            </div>
        </div>

        <div id="detail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="detail-title" aria-hidden="true">
            <button type="button" role="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-body">
                <img src="" class="detail-image">
                <div class="detail-info"></div>
            </div>
        </div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36745993-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.scrollto.min.js"></script>
        <script src="/static/js/jquery.imagesloaded.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>