{% extends 'base.html' %}

{% block content %}
    <h2>Dogs</h2>

    {% for photo in data.photo %}
    <div>
        <h3>{{ photo.title }}</h3>
        <p>{{ photo.description }}</p>
        <img src="http://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_m.jpg"/>
    </div>
    {% endfor %}

    {% if data.page|int > 1 %}
    <a href="/page/{{ data.page|pagination_prev }}">Previous</a>
    {% endif %}
    {% if data.page|int < data.pages|int %}
    <a href="/page/{{ data.page|pagination_next }}">Next</a>
    {% endif %}
{% endblock %}
