{% extends 'base.html' %}

{% block content %}
    <h2>Dogs</h2>

    {% for photo in data.photo %}
    <div>
        <h3>{{ photo.title }}</h3>
        <p>{{ photo.description }}</p>
        <img src="http://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_m.jpg"/>
    </div>
    {% endfor %}

    {% if data.page > 1 %}
        <a href="#">Previous</a>
    {% endif %}
    {% if data.page < data.pages %}
        <a href="#">Next</a>
    {% endif %}
{% endblock %}
